.foot{
    display: flex;
    align-items: center;
    height: 117px;
    width: 100%;
    font-size: 26px;
    background-color: var(--color-bot);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}
.background{
    display: flex;
    align-items: center;
    position: absolute;
    width: 375px;
    left: calc(50% - 187.5px);
}
.info-movie{
    width: 64px;
    height: 89px;
    background-color: white;
    margin-left: 10px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-img-movie{
    width: 48px;
    height: 72px;
}
.foot p{
    display: flex;
    flex-direction: column;
    font-weight: 400;
}