.banner-movie{
    width: 129px;
    height: 193px;
}
.main-movie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list-movies{
    display: grid;
    grid-template-columns: auto auto;
    gap: 27px 40px;
}
